In [24]:
import sys
import os

module_path = os.path.abspath(os.path.join('..'))

if module_path not in sys.path:
    sys.path.append(module_path)

print('Successfully imported modules from data_cleaner!')

Successfully imported modules from data_cleaner!

In [25]:
from noventis.data_cleaner import NoventisEncoder
import pandas as pd
import seaborn as sb

In [26]:
df = sb.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [27]:
X = df.drop(columns=['alone'], axis=1)
y = df['alone']

In [28]:
encoder = NoventisEncoder(
    target_column=y,
    cv=2)

In [23]:
# Fit dan transform
X_encoded = encoder.fit_transform(X, y)

# Lihat informasi encoding
encoding_info = encoder.get_encoding_info()
print(encoding_info)

============================================================
üöÄ NOVENTIS ENCODER - ANALYSIS REPORT
============================================================
üìä Analyzed 7 categorical columns

‚ö†Ô∏è  MANUAL INTERVENTION RECOMMENDED for 'who':
   - High correlation with target (0.451)
   - Consider using ordinal encoding with proper ordering
   - Sample values: ['man', 'woman', 'child']
   - Falling back to target encoding for now


üìã ENCODING SUMMARY
----------------------------------------
   LABEL: 2 columns
   OHE: 3 columns
   TARGET: 2 columns

üìä DETAILED COLUMN ANALYSIS
----------------------------------------
   sex:
      Method: LABEL
      Unique values: 2
      Target correlation: 0.300

   embarked:
      Method: OHE
      Unique values: 3
      Target correlation: 0.110
      Memory impact: 0.0 MB

   class:
      Method: OHE
      Unique values: 3
      Target correlation: 0.127
      Memory impact: 0.0 MB

   who:
      Method: TARGET
      Unique values: 3
      Target correlation: 0.451

   deck:
      Method: TARGET
      Unique values: 7
      Target correlation: 0.196

   embark_town:
      Method: OHE
      Unique values: 3
      Target correlation: 0.110
      Memory impact: 0.0 MB

   alive:
      Method: LABEL
      Unique values: 2
      Target correlation: 0.198

============================================================
üîÑ Transforming data...
‚úÖ Successfully transformed 16 columns
{'method': 'auto', 'learned_columns': {'sex': 'label', 'embarked': 'ohe', 'class': 'ohe', 'who': 'target', 'deck': 'target', 'embark_town': 'ohe', 'alive': 'label'}, 'encoding_stats': {'sex': {'method': 'label', 'original_cardinality': 2, 'correlation': np.float64(0.2995432665046126), 'memory_impact': 0.0135955810546875}, 'embarked': {'method': 'ohe', 'original_cardinality': 3, 'correlation': np.float64(0.11023168973167091), 'memory_impact': 0.02039337158203125}, 'class': {'method': 'ohe', 'original_cardinality': 3, 'correlation': np.float64(0.12745037040392346), 'memory_impact': 0.02039337158203125}, 'who': {'method': 'target', 'original_cardinality': 3, 'correlation': np.float64(0.45111169492107545), 'memory_impact': 0.02039337158203125}, 'deck': {'method': 'target', 'original_cardinality': 7, 'correlation': np.float64(0.1956860721577336), 'memory_impact': 0.04758453369140625}, 'embark_town': {'method': 'ohe', 'original_cardinality': 3, 'correlation': np.float64(0.11023168973167091), 'memory_impact': 0.02039337158203125}, 'alive': {'method': 'label', 'original_cardinality': 2, 'correlation': np.float64(0.1983058444176058), 'memory_impact': 0.0135955810546875}}, 'column_info': {'sex': {'unique_count': 2, 'missing_ratio': np.float64(0.0), 'correlation_with_target': np.float64(0.2995432665046126), 'ohe_memory_mb': 0.0135955810546875, 'recommended_encoding': 'label', 'sample_values': {'male': 577, 'female': 314}}, 'embarked': {'unique_count': 3, 'missing_ratio': np.float64(0.002244668911335578), 'correlation_with_target': np.float64(0.11023168973167091), 'ohe_memory_mb': 0.02039337158203125, 'recommended_encoding': 'ohe', 'sample_values': {'S': 644, 'C': 168, 'Q': 77}}, 'class': {'unique_count': 3, 'missing_ratio': np.float64(0.0), 'correlation_with_target': np.float64(0.12745037040392346), 'ohe_memory_mb': 0.02039337158203125, 'recommended_encoding': 'ohe', 'sample_values': {'Third': 491, 'First': 216, 'Second': 184}}, 'who': {'unique_count': 3, 'missing_ratio': np.float64(0.0), 'correlation_with_target': np.float64(0.45111169492107545), 'ohe_memory_mb': 0.02039337158203125, 'recommended_encoding': 'ordinal_suggest', 'sample_values': {'man': 537, 'woman': 271, 'child': 83}}, 'deck': {'unique_count': 7, 'missing_ratio': np.float64(0.7721661054994389), 'correlation_with_target': np.float64(0.1956860721577336), 'ohe_memory_mb': 0.04758453369140625, 'recommended_encoding': 'target', 'sample_values': {'C': 59, 'B': 47, 'D': 33}}, 'embark_town': {'unique_count': 3, 'missing_ratio': np.float64(0.002244668911335578), 'correlation_with_target': np.float64(0.11023168973167091), 'ohe_memory_mb': 0.02039337158203125, 'recommended_encoding': 'ohe', 'sample_values': {'Southampton': 644, 'Cherbourg': 168, 'Queenstown': 77}}, 'alive': {'unique_count': 2, 'missing_ratio': np.float64(0.0), 'correlation_with_target': np.float64(0.1983058444176058), 'ohe_memory_mb': 0.0135955810546875, 'recommended_encoding': 'label', 'sample_values': {'no': 549, 'yes': 342}}}, 'is_fitted': True}